.header-container {
    border-style: dashed;
    border-width: 5px;
    border-color: cadetblue;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:lightpink;
}