@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&display=swap');

body {
    border-style: dashed;
    border-width: 5px;
    border-color: cadetblue;
}

body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:lightpink;
}