@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&display=swap');

.add-employee {
    background-color: lightpink;
    color: white;
    border: none;
    padding: 15px 20px;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.add-employee:hover {
    background-color: rgba(219, 155, 165, 0.81);
}

.employees-table {
    border-collapse: collapse;
    margin-top: 25px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.employees-table th, td {
  padding: 8px;
}

.employees-table tr:nth-child(odd){
    background-color: rgba(223, 243, 243, 0.81);
}

.employees-table tr:nth-child(even){
    background-color: rgba(197, 221, 221, 0.81);
}

.employees-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: cadetblue;
  color: white;
}

.employees-table tr {
    color: dimgrey;
}

.employees-table button {
    width: 100%;
    background-color: lightpink;
    color: white;
    border: none;
    padding: 8px 0;
    font-weight: bold;
}

.employees-table button:hover {
    background-color: rgba(219, 155, 165, 0.81);
}