<h1 class="content-title">Employee List</h1>
<button class="add-employee" [routerLink]="['/edit-employee']">+ New Employee</button>
<table class="employees-table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.department }}</td>
      <td><button [routerLink]="['/edit-employee', employee.id]">Edit</button></td>
    </tr>
  </tbody>
</table>