@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&display=swap');

body h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:lightpink;
}