<h1 class="content-title">{{ employeeId ? 'Edit Employee' : 'Add Employee' }}</h1>
<button class="back-to-home" [routerLink]="['/home']">Back</button>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" #form>
  <div class="form-group">
    <label for="employeeId">ID</label>
    <input type="text" id="employeeId" name="employeeId" formControlName="id">
  </div>

  <div class="form-group">
    <label for="employeeName">Name</label>
    <input type="text" id="employeeName" name="employeeName" formControlName="name">
  </div>

  <div class="form-group">
    <label for="employeeDepartment">Department</label>
    <input type="text" id="employeeDepartment" name="employeeDepartment" formControlName="department">
  </div>

  <div class="button-container">
      <button class="submit-button" type="submit">Save</button>
      <button class="delete-button" type="button" *ngIf="employeeId" (click)="deleteEmployee(employeeId)">Delete</button>
  </div>
</form>