@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-title {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:dimgrey;
}

.back-to-home {
    background: none;
    border: none;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: lightpink;
}

.back-to-home:hover {
    color: rgba(219, 155, 165, 0.81);
}

form {
    margin-top: 25px;
    width: 400px;
}

form div {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: cadetblue;
}

form input {
    height: 25px;
    font-size: 15px;
}

form input:focus {
    outline: 2px solid cadetblue;
}